<blockquote>

	<p><%= comment.text %></p>
	<% if comment.author.blank? %>
		<small>Оставил: Уебан ;) (<%= time_ago_in_words(comment.updated_at) %> ago)</small>
	<% else %>
		<small>Оставил: <%= comment.author %> (<%= time_ago_in_words(comment.updated_at) %> ago)</small>
	<% end %>

</blockquote>