<div class="row alert-message warning fade in back-to-start span12 offset1">
	<a class="close" href="#">×</a>
	<p>
		<strong>Вы вернулись на ту же страницу, с которой ушли. </strong>Выше еще есть луки.
		<%= link_to "Хотите начать с самого верха?", root_path %>
	</p>
</div>