<div class="hero-unit">
	
	<h1>Привет, Т&amp;P!</h1>

		<h2>Меня зовут Игорь Давыдов, и&nbsp;я&nbsp;хочу у&nbsp;вас работать</h2>
		<h3>О&nbsp;Spizdilooki&nbsp;&mdash; <a href="http://github.com/div/spizdilooki">github.com/div/spizdilooki</a></h3>
		<p>Расскажу сначала немного об&nbsp;этом сайте, он&nbsp;является результатом моей реализации <a href="http://theoryandpractice.ru/blog/205-raboty-na-polchasa">тестового задания</a>.</p>

		<p>Написан он&nbsp;на&nbsp;Рельсах&nbsp;3.1 и&nbsp;хостится на&nbsp;<a href="http://heroku.com">heroku</a>. Работает он&nbsp;следующим образом&nbsp;&mdash; есть clock процесс, который каждый час запускает worker&rsquo;a и&nbsp;тот смотрит не&nbsp;появились&nbsp;ли новые луки на&nbsp;лукэтми. Если таковые появились, то&nbsp;ставит их&nbsp;в&nbsp;очередь <a href="http://github.com/defunkt/resque">Resque</a> на&nbsp;обработку. После того как фотка загружена на&nbsp;S3, а&nbsp;все данные лука в&nbsp;базу, лук&nbsp;появляется на&nbsp;сайте. С&nbsp;возможностью комментирования, конечно.
		Сделал я&nbsp;это не&nbsp;за&nbsp;30&nbsp;минут, конечно, но&nbsp;зато узнал много нового и сделал довольно красиво. Так что ура опен-сорсу, рельсам и&nbsp;гитхабу! :) </p>

		<p>Если говорить о&nbsp;фронт-энде, то&nbsp;мне уже некоторое время хотелось реализовать бесконечный скролл, просто ради интереса, но&nbsp;он&nbsp;подходит лишь к&nbsp;очень небольшому числу задач. А&nbsp;в&nbsp;случае с&nbsp;луками, он, как мне кажется, отлично подошел. Причем, с&nbsp;помощью html5 history.replaceState сохраняется работоспособность кнопки &laquo;назад&raquo;.</p>
		<h3>О&nbsp;себе</h3>
		<p>Мое знакомство с&nbsp;веб-разработкой началось сравнительно недавно, около года назад, после прочтения одной из&nbsp;книжек Сэта Година, в&nbsp;которой он&nbsp;упоминал рельсы и&nbsp;37signals. До&nbsp;этого я&nbsp;занимался моделированием углеродных кластеров в&nbsp;МИФИ, защитил там кандидатскую по&nbsp;физике конденсированного сотояния и&nbsp;с&nbsp;тех пор в&nbsp;свободное время я&nbsp;потихоньку начал разбираться в&nbsp;рельсах.</p> 
		<p>Завершенных проектов пока нет, есть два в разработке: первый&nbsp;&mdash; сайт для девушки певицы <a href="http://blooming-sword-469.heroku.com/">Татьяны Зыкиной</a>, а второй&nbsp;&mdash; собственный проект для создания веб-портфолио (фото или графического). Я&nbsp;его недавно немножко сломал, так что показывать сейчас не&nbsp; очень хочу. И&nbsp;наконец, есть еще проект, который я&nbsp;делал для друзей, но&nbsp;еще на&nbsp;вордпрессе <a href="http://ridetheplanet.ru">ridetheplanet</a>. </p>

		<h3>Почему я&nbsp;вам подхожу</h3>

		<p>Возможно вас не&nbsp;впечатлило мое &laquo;портфолио&raquo;, тем не&nbsp;менее, надеюсь мне удалось донести мысль о том, что мне действительно интересно заниматься веб-разработкой. Думаю я&nbsp;смогу стать полезной частью Теорий и&nbsp;Практик.  Мне действительно очень нравиться ваш проект: тема самообразования мне очень близка и&nbsp;я&nbsp;очень рад, что такой проект существует. Еще я думаю, что подойду вам в&nbsp;плане &laquo;cultural fit&raquo;. Как в&nbsp; отношении к&nbsp;образованию и&nbsp; всему остальному, что происходит за&nbsp;окном, так и&nbsp;к&nbsp;работе. Ну&nbsp;а&nbsp;раз вы&nbsp;используете &laquo;тихие часы&raquo; в&nbsp;офисе, то&nbsp;мне просто необходимо у&nbsp;вас работать ;)</p>
	<p>Мне очень хочется делать различные удивительные вещи связанные с&nbsp;вебом. И&nbsp;уверен, что смогу их&nbsp;делать вместе с&nbsp;Т&amp;P!</p>
	<p>Спасибо, что зашли сюда и прочитали все это.<p>
	<p><strong>Если захотите написать мне, вот адрес: <a href="mailto:igordvdv@gmail.com">igordvdv@gmail.com</a></strong></p>

</div>