// Place all the styles related to the Looks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-unit{
	width: 740px;
}
.low{
	margin-top: 60px;
}
.look{
	height: 330px;
}
.hidden{
	display: none;
}
