// Place all the styles related to the Looks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-unit{
	width: 740px;
	margin-bottom:0;
}
.low{
	margin-top: 60px;
}
.look{
	height: 300px;
	margin-top: 50px;
}
.hidden{
	display: none;
}
.page {
	height: 1750px;
}
#spin{
	float: left;
	width: 50px;
	position: relative;
	top: -7px;
}
.back-to-start{
	display:none;
}
#end{
	display:none;
}
#loading{
	width: 860px;
}
.floatr{
	float: right;
}
.prev-next{
	width: 380px;
	margin-bottom: 10px;
}